{% extends 'coworkingSpace/base.html' %}
{% load widget_tweaks %}
{% block content %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'coworkingSpace:posts' %}">Manage</a>
    <a class="navbar-brand d-flex align-items-center" href="{% url 'coworkingSpace:add' %}">Add New</a>
</nav>
<div class="containter pt-5">
    <form method="post" novalidate enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="form-group">
        <button type="submit" class="btn btn-success">Add
        </button>
        <a href="{% url 'coworkingSpace:posts' %}" class="btn btn-danger">Cancel</a>
    </div>
    </form>
</div>
{% endblock %}