<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #F8F7F3;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: #666;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    </style>
</head>
<body>

<ul>
    <li><a class="navbar-brand d-flex align-items-center" href="/coworkingSpace">KerjaKuy</a></li>
    {% if user.is_superuser %}
        <li><a class="navbar-brand d-flex align-items-center" href="{% url 'coworkingSpace:posts' %}">Manage</a></li>
        <li><a class="navbar-brand d-flex align-items-center" href="{% url 'coworkingSpace:add' %}">Add New</a></li>
    {%endif%}
</ul>

</body>
</html>