{% extends 'coworkingSpace/base.html' %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for post in posts_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ post.image.url }}" alt="Card Image Cap" style = 'object-fit:cover; width: 150px; height: 100px;'>
                        <div class="card-body">
                            <h4 class="lead"><a class="text-dark" href="{{ post.get_absolute_url }}"> {{ post.nama }}</a></h4>
                                <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group"></div>
                                <a href="{% url 'coworkingSpace:edit' post.pk %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Edit</a>
                                <a href="{% url 'coworkingSpace:delete' post.pk %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}