{% extends 'coworkingSpace/base.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #F8F7F3;
        }
    </style>
    <div class="container">
        <div class="row">
                <div class="col-12 pt-5">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card Image Cap" style="height:300px;" />
                    <h2 class=""pt-5>{{ post.nama }}</h2>
                    <p>Rp.{{ post.harga }},-</p>
                    <p>{{ post.alamat }}</p>
                    <p>{{ post.detail }}</p>
        </div>
    </div>
</div>
{% endblock %}